<div [ngClass]="'top_bar_main'">
<div [ngClass]="'options_bar_div'">
    <div [ngClass]="'saved_list_div'">
       <button [ngClass]="'saved_list_button'"><i class='fas fa-ellipsis-v'></i><i class='fas fa-bars'></i>
          SAVED LIST</button>
    </div>
    <span><i class='fas fa-filter'></i> SAVED FILTERS</span>
    <span><i class='fas fa-undo'></i> SEARCH HISTORY</span>
 </div>

 <div [ngClass]="'search_div'">
    <input #search class="search" type="text" placeholder="Search by list name..." (keyup)="onSearch(search.value)">
 </div>
</div>